erlang_version=20.1
elixir_version=1.5.3
always_rebuild=false
runtime_path=/chatter
release=true
hook_compile="mix compile --force --warnings-as-errors"
always_rebuild=true
hook_pre_fetch_dependencies="pwd"
hook_pre_compile="pwd"
hook_compile="mix compile --force --warnings-as-errors"
hook_post_compile="pwd"